@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Добро пожаловать в сервис продаж!</h1>
    <p><a  class="btn btn-primary btn-lg">Событие! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Составить договор</h2>
        <p>Составляем договор по формам, сохраняем его в бд</p>
        <p>@Html.ActionLink("Создать контракт", "CreateContract", "Contract")</p>
    </div>
    <div class="col-md-4">
        <h2>Статистика продаж</h2>
        <p>Выводим статистические данные в наглядном формате</p>
        <p><p>@Html.ActionLink("Просмотр статистики", "ViewStatistic", "Statistic")</p></p>
    </div>
    <div class="col-md-4">
        <h2>Журнал договоров</h2>
        <p>Просмотр и редактирование заключенных договоров</p>
        <p><p>@Html.ActionLink("Открыть журнал", "ViewJournal", "Journal")</p></p>
    </div>
    <div class="col-md-4">
        <h2>Журнал клиентов</h2>
        <p>Список клиентов компании</p>
        <p><p>@Html.ActionLink("Просмотр клиентов", "ViewCustomerList", "Customer")</p></p>
    </div>
</div>